body{
	font-family: Roboto;
}
#container {
	align-content: center;
	display: block;
	background-color: rgb(215, 045, 109);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}
img#logo {
	height: auto;
	display: block;
	margin: auto;
	align-content: center;
	width:350px;
    height:350px;
    border-radius:200px;
	border: 10px solid rgb(31, 158, 231);

}
p.copyright{
	text-align: center;
	font-family: sans-serif;
	font-style: inherit;

}
h1.main-title {
	display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
	font-size: 45px; 
    font-weight: 400;
	line-height: auto;
	text-align: center;
}
p.content {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 15px;
text-align: center;
}
h2.instructions {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
	font-size: 40x; 
    font-weight: 400;
	line-height: auto;
	text-align: center;
}
h3.next {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-size: 15px;
}
button#start {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(31, 158, 231);
	color: black;
	font-size: 20px;
	border: solid white;
	font-weight: 600;
	font-family: sans-serif;
	padding: 1px;
	margin: auto;
	text-align: center;

}
h2.moves{
	text-align: center;
	line-height: auto;
}
input#moves {
	height: 25px;
	width: 25px;
	align-content: center;
}
h2.format {
	font-size: 30px; 
    font-weight: 400;
	line-height: auto;
	text-align: center;	
}
textarea#message{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

button.button-withmargin {
	margin: auto;
	margin-left: 350px;
	margin-right: 200px;
	font-size: 20px;
	height: 50px;
	width: 100px;
	background-color: rgb(179, 15, 15);
	color: whitesmoke;
	border: solid rgb(179, 15, 15);
	
}
img#byeGif {
	display: block;
	margin: auto;
	height: auto;
	text-align: center;
	width:500px;
    height:500px;
	border-radius:300px;
	align-items: center;
	float: center;
}
p.area {
	background-color: rgb(215, 045, 109);
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
<<<<<<< HEAD
	text-align: center;
	
	
=======
  text-align: center;
>>>>>>> dd9ab43d721757d09f78fa06fa752a029b838c48
	
}


